body {
    background-color: gray;
}

.headerContainer {
    display: flex;
    position: fixed;
    top: 0;
    width: 100%;
    height: 6rem;
    background-color: white;
    justify-content: space-evenly;
    border-bottom: .25rem solid rgb(16, 19, 230);
    border-top: .25rem solid rgb(16, 19, 230);
    z-index: 10;
}

.headerLeft {
    display: flex;
    width: 30%;
    justify-content: space-around;
    align-items: center;
}

.headerListItem {
    list-style: none;
    font-weight: bold;
    color: rgb(16, 19, 230);
    background-color: #7fd6ffd9;
    width: 6.5rem;
    padding: 1rem 0;
    border: 2px solid black;
    border-radius: 50%;
    text-align: center;
}

.navLink {
    text-decoration: none;
}

.logo {
    height: 6rem;
    margin: 0 5rem;
}

.headerRight {
    display: flex;
    width: 30%;
    justify-content: space-around;
    align-items: center;;
}

.homeContainer {
    position: relative;
    top: 6.9rem;
}

.titleContainer {
    display: flex;
    width: 100%;
    justify-content: center;
    margin-bottom: 3rem;
    position: relative;
    top: 1rem;    
}

.title {
    text-align: center;
    color: black;
    margin: 0;
    background-color: white;    
}

.previewContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.articleContainer {
    width: 50%;
    min-width: 35.8rem;
    margin-bottom: .625rem;
    text-align: center;
    border: 1px solid black;
    background-color: white;
}

.articleImage {
    height: 8rem;
    width: 14rem;
}

.articleVideo {
    height: 24rem;
    width: 35rem;
}

.articleTitle {
    padding: 0 1rem;
}

.articleLink {
    text-decoration: none;
    color: black;
}

.categoriesContainer {
    display: flex;
    position: relative;
    top: 6.9rem;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.categoryContainer {
    height: 40rem;
    width: 25%;
    background-color: white;
    border: 2px solid black;
    margin: 1rem;
}